body, div, span {
    padding:0;
    margin:0;
}

body {
    padding:4px;
    background-color:rgb(25,25,35);
}

assertion {
    display:block;
    font-family:consolas,monospace;
    font-size:9pt;
    color:#F0F0F0;
}

assertion > timestamp {
    color:infobackground;
    font-size:8.5pt;
}

assertion > data.pass {
    display:none;
}

assertion > data.fail {
    display:block;
    white-space:pre;
    padding-left:10px;
}

assertion > outcome.fail {
    color:red;
}

assertion > outcome.pass {
    color:white;
}